[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
pytest = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
pydantic = "*"
streamlit = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
